<script src="assets/pixel_platform.js" type="text/javascript"></script>
<style>

  nav {
  background-color: rgb(224, 224, 224);
  font-family: calibri;
  font-size: 25px;
  letter-spacing: 10px;
  height: 70px;
  }

  a {
    text-decoration: none;
    color: #979797;
    padding: 20px;
    margin-top: 100px;
  }

  button {
    font: calibri, sans-serif;
    color: white;
    font-size: 20px;
    height: 50px;
    padding: 20px;
    border-style: none;
/*    border-radius: 15px;*/
    background-color: #61ef61;
  }

  .block{
    text-align: center;
    background-color: #f8f8f8;
  }

  .block img {
    padding: 50px;
  }

  .block .text_block {
    font-family: Goudy Old Style, serif;
    line-height: 25px;
    color: #979797;
  }

  .block .text_block h5 {
    display: inline;
  }

  .block .text_block span {

  }

  .game_div {
    margin: 50px 200px;
  }

</style>

<nav>
  <a href="index.erb#home">HOME</a>
  <a href="index.erb#play">PLAY</a>
  <a href="index.erb#personalize">PERSONALIZE</a>
  <a href="index.erb#askfor">ASK FOR</a>
</nav>

<header class="block">
  <%= image_tag("gfg_logo.png") %>
  <p class="text_block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus modi <br>sapiente iusto voluptate dignissimos assumenda, earum accusamus, sequir <br> blanditiis et quia expedita, delectus, dolor molestias repellat quod totam <br>nemo labore!</p>
  <div id="pixel_platform_Div" class="game_div"></div>
  <button>Play</button>
  <button>Personalize</button>
</header>

<article class="block">
  <%= image_tag("raquel.jpeg") %>
  <section class="text_block">
    <h5>NAME:</h5> <span>Raquel</span><br>
    <h5>WEAKNESS:</h5> <span>Sushi</span><br>
    <h5>PHOBIA:</h5> <span>Spiders</span><br>
    <h5>DESIRE:</h5> <span>Climb</span><br>
  </section>
  <div id="raquel_pixel_platform_Div" class="game_div">
    <%= image_tag("personal_game.png") %>
  </div>
  <button>Play</button>
  <button>Personalize</button>
</article>





