<style>
  *{
    margin: 20px 80px;
  }
  h1{
    margin: 20px 50px;
  }
</style>

<h1>Add to your locahost route:</h1>

<h3>/platform</h3>
<span>to Mario Game example</span><br>

<h3>/jail</h3>
<span>to Pixel Jail example</span><br>
