<script src="assets/simplegame.js" type="text/javascript"></script>
<script src="assets/simplegame2.js" type="text/javascript"></script>
<script src="assets/pixel_platform.js" type="text/javascript"></script>

<header>

</header>

<nav class="menu">

  <a href="">/play</a>
  <a href="">/customize</a>
  <a href="">/ask for</a>

  <%= image_tag("icons/facebook.png") %>
  <%= image_tag("icons/twitter.png") %>
  <%= image_tag("icons/github.png") %>

</nav>

<!-- GAME CANVAS & TEXT -->
<article class="block">

  <section class="container">

    <div id="pixel_platform_Div" class="game_div">
    </div>

    <div class="text_block">
    <%= image_tag("pixel_pacman_red.png") %>
    <p>It's easy, use your arrow keyboard to move the player,<br> collect the green boxes bouncing over the yellow ones - and be carefull - don't touch the floor!!!</p>

    </div>

  </section>

<!-- <p class="text_block">Did you enjoy it?? <br> Good, now it's time to customizate your game!!</p> -->

</article>

<!-- FORM -->
<button data-game-type="1">Customize!!</button>
<form id="game-form"></form>

<form hidden id="form-template">
  <section data-type="text">
    <p></p>
    <input type="text">
  </section>
  <section data-type="color">
    <p></p>
    <ul></ul>
  </section>
  <section data-type="graphic">
    <p></p>
    <ul></ul>
  </section>
</form>

<script src="assets/customize.js" type="text/javascript"></script>