<script src="assets/simplegame.js" type="text/javascript"></script>
<script src="assets/simplegame2.js" type="text/javascript"></script>
<script src="assets/pixel_platform.js" type="text/javascript"></script>

<header class="block">
  <%= image_tag("gfg_logo.png") %>
  <p class="text_block">It's easy, use your arrow keyboard to move the player,<br> collect the green boxes bouncing over the yellow ones - and be carefull - don't touch the floor!!!</p>
  <div id="pixel_platform_Div" class="game_div"></div>
  <p class="text_block">Did you enjoy it?? <br> Good, now it's time to customizate your game!!</p>

<button data-game-type="1">Customize!!</button>

<form id="game-form"></form>

<form hidden id="form-template">
  <section data-type="text">
    <p></p>
    <input type="text">
  </section>
  <section data-type="color">
    <p></p>
    <ul></ul>
  </section>
  <section data-type="graphic">
    <p></p>
    <ul></ul>
  </section>
</form>

<script src="assets/customize.js" type="text/javascript"></script>