<script src="/assets/simplegame.js" type="text/javascript"></script>
<script src="/assets/simplegame2.js" type="text/javascript"></script>
<script src="/assets/pixel_platform.js" type="text/javascript"></script>

<header>

</header>

<nav class="menu">

  <a href="">/play</a>
  <a href="">/customize</a>
  <a href="">/ask for</a>

  <%= image_tag("icons/facebook.png") %>
  <%= image_tag("icons/twitter.png") %>
  <%= image_tag("icons/github.png") %>

</nav>
<section style="text-align: center">
  <div id="pixel_platform_Div" class="game_div"></div>
</section>

